.character {
  font-family: "Hakusyu Kaisho";
  font-size: 15vh;
  width: 15vh;
  height: 15vh;
  min-width: 15vh;
  min-height: 15vh;
  border: 10px solid #000;
  color: black;
  background-color: rgba(255, 255, 255, 0.90);
  display: block;
  position: fixed;
  text-align: center;
  justify-items: center;
  margin: 2vh;
}