.card {
  height: 340px;
  width: 150px;
  display: inline-block;
  margin: 5px 5px;
}

.title {
  max-width: 140px;
  margin: -10px 0 0 -10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cardContent {
  max-width: 150px;
  max-height: 10px;
  min-height: 10px;
}

.coverImage {
  height: 225px;
  width: 150px;
  display: inline-block;
  object-fit: contain;
  cursor: pointer;
}

.rating {
    display: flex;
    margin: -8px 0 0 -12px;
    padding-bottom: 5px;
}

.ratingNum {
    margin: -2px 0 0 5px;
}

.cardActions {
    padding-top: 3px;
}

.favIcon {
    color: salmon;
}

.moreIcon {
    margin-left: 75px !important;
}

.animeMenu {
    width: 200px;
    margin: 5px 0 0 5px;
}

.animeMenuIcon {
  padding-right: 10px;
}

/****** SKELETON ONLY CSS ******/
.ratingSkl {
  margin-left: 3px;
}