.titleSection {
  position: fixed;
  height: 300px;
  width: calc(100% - 25px);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 50%
  );
}

.coverImage {
  display: inline-block;
  margin-left: 5vw;
  width: 194px;
  height: 291px;
  object-fit: cover;
  border: 4px solid white;
  border-radius: 2px;
}

.titleInfo {
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 194px - 6vw);
  height: 100%;
}

.basicInfo {
  white-space: nowrap;
  height: 50%;
  padding-left: 1vw;
}

.darkText {
  color: black;
}

.lightText {
  color: white;
}

.icon {
  vertical-align: top;
  padding-right: 5px;
  opacity: 0.5;
}

.rating {
  vertical-align: text-bottom;
  padding-right: 10px;
}

.links {
  position: absolute;
  display: block;
  bottom: 50%;
}

.link {
  cursor: pointer;
}

.summaryInfo {
  height: 50%;
}

.summary {
  padding-left: 1vw;
  padding-top: 1vh;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}
